#Frequency or Count Encoding for Nominal categorical Feature

It is a way to utilize the frequency of the categories as labels. In the cases where the frequency is related somewhat with the target variable, it helps the model to understand and assign the weight in direct and inverse proportion, depending on the nature of the data. Three-step for this :

1)Select a categorical variable you would like to transform.

2)Obtain counts of each category.

3)Join it back with the training dataset.

In [1]:
import pandas as pd
import numpy as np

In [3]:

df=pd.read_csv('/content/drive/MyDrive/datasets/mercedesbenz.csv',usecols=["X1","X2"])

In [4]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [7]:
df.shape

(4209, 2)

In [8]:
#onehotencoding
pd.get_dummies(df).shape

(4209, 71)

In [9]:
len(df['X1'].unique())

27

In [10]:
len(df['X2'].unique())

44

In [11]:
for i in df.columns:
  print(i,':',len(df[i].unique()))

X1 : 27
X2 : 44

In [13]:
df['X2'].value_counts().to_dict()

{'a': 47,
 'aa': 1,
 'ac': 13,
 'ae': 496,
 'af': 1,
 'ag': 19,
 'ah': 4,
 'ai': 415,
 'ak': 265,
 'al': 5,
 'am': 1,
 'an': 5,
 'ao': 20,
 'ap': 11,
 'aq': 63,
 'ar': 1,
 'as': 1659,
 'at': 6,
 'au': 3,
 'av': 4,
 'aw': 8,
 'ay': 54,
 'b': 21,
 'c': 1,
 'd': 18,
 'e': 81,
 'f': 87,
 'g': 12,
 'h': 6,
 'i': 25,
 'j': 1,
 'k': 25,
 'l': 1,
 'm': 367,
 'n': 137,
 'o': 1,
 'p': 4,
 'q': 5,
 'r': 153,
 's': 94,
 't': 29,
 'x': 10,
 'y': 11,
 'z': 19}

In [14]:
df_freq_map =df['X2'].value_counts().to_dict()

In [15]:
df['X2'] = df['X2'].map(df_freq_map)

In [16]:
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

**#Another way of using FREQUENCY encoding**

In [21]:
freq = df.groupby('X1').size()/len(df)

In [22]:
freq.head()

X1
a     0.033975
aa    0.197909
ab    0.000713
b     0.140651
c     0.028748
dtype: float64

In [23]:
df.loc[:,'temp_X1'] = df['X1'].map(freq)

In [24]:
df.head()

  X1   X2   temp_X1
0  v    6  0.096935
1  t    4  0.007365
2  w  137  0.012354
3  t  137  0.007365
4  v  137  0.096935